[user]
  name = Paul Friedman
  email = {{ or .email "paulfri@hey.com" }}
[color]
  ui = true
[core]
  editor = nvim
  pager = delta
[push]
  default = simple
[alias]
  br = branch
  ci = commit --verbose
  co = checkout
  st = status --short
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ds = diff --staged
  la = "!git config -l | grep alias | cut -c 7-"
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  pu = "!git push --set-upstream origin `git rev-parse --abbrev-ref HEAD`"
  su = submodule update --init
[pull]
  ff = only
[delta]
  navigate = true
  features = line-numbers
[diff]
  colorMoved = default
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false
[merge]
  conflictstyle = diff3
[init]
  defaultBranch = main
[url "ssh://git@github.com"]
  insteadOf = https://github.com
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
